---
layout: none
permalink: /news-2025.html
---

<section>
    <h3>✈️ 24.Sep.2025</h3>
    {% include news-20250924.md %}

    <h3><i class="fa-regular fa-handshake fa-lg"></i> 12.Sep.2025</h3>
    {% include news-20250912.md %}

    <h3>📚 02.Aug.2025</h3>
    {% include news-20250802.md %}

    <h3>✈️ 22.May.2025</h3>
    {% include news-20250522.md %}

    <h3>📚 15.Apr.2025</h3>
    {% include news-20250415.md %}

    <h3><span style="margin-right: 0.2em;"></span><i class="fa-solid fa-user-tie fa-lg"></i><span style="margin-right: 0.2em;"></span> 03.Apr.2025</h3>
    {% include news-20250403.md %}

    <h3><i class="fa-regular fa-handshake fa-lg"></i> 04.Mar.2025</h3>
    {% include news-20250304.md %}
</section>
