/* CSS Script / Version: 2024-01-28 */
body {
  font-size: 13px;
}
h1 {
  font-size: 28px;
  font-family: 'Gill Sans MT';
  /* font-stretch: semi-condensed; */
  font-weight: bold;
  padding: 0px 0px 0px 10px;
  box-shadow: -8px 0px 0px 0px #f9d142;
  margin-top: 50px;
}
h2 {
  font-size: 18px;
  font-family: 'Gill Sans MT';
  /* font-stretch: semi-condensed; */
  font-weight: bold;
  padding: 0px 0px 0px 10px;
  box-shadow: -8px 0px 0px 0px #1a7a4c;
}
h3 {
  font-size: 14px;
  font-family: 'Gill Sans MT';
  /* font-stretch: semi-condensed; */
  padding: 0px 0px 0px 10px;
  box-shadow: -8px 0px 0px 0px #135079;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}