<style>
    .transparent-text {
        opacity: 0.4; /* 90% transparent by default */
        transition: opacity 0.3s ease; /* Add a smooth transition effect */
    }
    .transparent-text:hover {
        opacity: 1; /* 0% transparent when hovering */
    }
</style>

<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="transparent-text">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
